<form [formGroup]="loginForm" class="clearfix">
    <hr>
    <h3>Log In</h3>
    <p>{{message}}</p>
    <div class="form-group row">
        <label for="userid" class="col-sm-2 col-form-label">Enter userid</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="userid" formControlName="userid"
                placeholder="Enter Userid as admin" required>
        </div>
    </div>
    <div class="col-sm-6 text-right">
        <button (click)="login()" type="button" class="btn btn-success">login</button>
    </div>
    <hr>
</form>