<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><button aria-controls="navbar" aria-expanded="false"
                    class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span></button>
                <a class="navbar-brand" href="#">{{title}}</a>
            </div>
            <ul *ngIf="isUserLoggedIn" class="nav navbar-nav navbar-right">
                <li><a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>