<div class="row">
    <div class="col-md-11">
        <h4>Welcome, {{userid}}</h4>
    </div>
    <button class="btn btn-primary">Add New</button>
</div>
<hr>
<!-- list of panel is ng-template -->
<div class="panel panel-info">

    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>

    <div class="panel-body">
        Panel content
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-11">Panel footer</div>
            <div class="col-md-1">
                <button class="btn btn-primary" type="button">
                    <span class="badge">5</span>
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </button>
            </div>
        </div>
    </div>
</div>